@CHARSET "UTF-8";
*{
	margin:0;
	padding:0;
	color:white;
}
a{
	color:white;
}
body{
	background:#CCC;
}
#a1{
	border:solid 1px #AAA;
	border-radius:15px;
	margin:1rem 0;
}
#a1 h6{
	margin:0;
    border-bottom:rgb(169,130,81) solid 1px;
}
#a1 h3{
	margin:0;
	padding:1rem 0;
}
#a{
	margin:20px 0;
}
#a button{
	padding:0.5rem 4rem;
}
#b button{
	padding:1.5rem 8rem;
}
#b h5{
	margin:0;
	padding:0.5rem 0;
	text-align:center;
}
.b1{
	border-right:solid 1px #AAA;
	cursor:pointer;
	transition:background 1s;
}
.b1:hover{
	background:#f0ad4e;
}
#c{
	margin:3rem 0;
}
#d{
	margin:3rem 0;
}
#e img:hover{
	width:80%;
}
#f{
	margin:5rem 0;
}
#e img,#f img,#g img,#h img{
	 padding:2rem 0;
}
#span{
	border:solid 1px white;
	border-radius:1rem;
	background:#AAA;
}
.bottom{
	border-bottom:solid 1px brown;
}
.bottom1{
	padding-top:2rem;
	border-bottom:solid 1px white;
}
