@CHARSET "UTF-8";

h1, h2, h3, h4, h5, h6, p, a, img {
	margin: 0;
	padding: 0;
}
body{
	background:#aaa;
}
* {
	font-family: 微软雅黑;
}

#a .navbar-header a {
	padding: 0;
	margin: 0;
}

#a {
	margin-bottom: 50px;
}

.tanchuang {
	background: white;
	opacity: 0.5;
	color: green;
	border: #888 solid 1px;
	border-radius: 15px;
	width: 300px;
	height: 150px;
	position: absolute;
	top: 40%;
	-webkit-transition: -webkit-transform 0.5s;
	-moz-transition: -moz-transform 0.5s;
	-o-transition: -o-transform 0.5s;
	-ms-transition: -ms-transform 0.5s;
	text-align: center;
}
.tanchuang h5 {
	padding: 10px 0;
}

.tanchuang:hover {
	-webkit-transform: rotateZ(360deg);
	-moz-transform: rotateZ(360deg);
	-o-transform: rotateZ(360deg);
	-ms-transform: rotateZ(360deg);
	transform: rotateZ(360deg);
}
#c{
	margin-top:30px;
}
#c button{
	padding:auto 2rem;
	background:rgba(0,0,0,0.8);
	color:white;
}
#c1{
	border:solid 1px lightgreen;
}
#d1{
	margin:30px auto;
	border:solid 1px lightgreen;
	padding:2rem 0;
}
#d{
	background:#123;
}
#d2{
	border:solid 1px lightgreen;
	margin:30px auto;
	padding:2rem 0;
	display:none;
}
#d2:hover{
	opacity:0.8;
}
#d2 img{
	padding:1rem 0;
	-webkit-transition: -webkit-transform 0.5s;
	-moz-transition: -moz-transform 0.5s;
	-o-transition: -o-transform 0.5s;
	-ms-transition: -ms-transform 0.5s;
}
#d2 img:hover{
	-webkit-transform: rotateZ(360deg);
	-moz-transform: rotateZ(360deg);
	-o-transform: rotateZ(360deg);
	-ms-transform: rotateZ(360deg);
	transform: rotateZ(360deg);
}
.d1 img{
	-webkit-transition: -webkit-transform 0.5s;
	-moz-transition: -moz-transform 0.5s;
	-o-transition: -o-transform 0.5s;
	-ms-transition: -ms-transform 0.5s;
	transition:transform:0.5s;
}
.d1 img:hover{
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.d2-1{
	position:relative;
}
.d2-1 h1{
	  position:absolute;
       top:190px;
       left:50px;
       padding:0 auto;
       margin:0 auto; 
       color:white;
       display:none;
       background:lightgreen;
}
#e{
	background:#00ffff;
	padding:1rem 0;
	margin:30px 0;
}
#e1{
	border:solid 1px lightgreen;
	margin-bottom:20px 0;
}
.e1{
	border:solid 1px blue;
	padding:2rem 0;
	margin-top:20px;
}
.e1 h4{
	line-height:4rem;
	color:white;
}
.e2{
	padding:2rem 0;
	margin-top:20px;
	color:white;
}
.e2 h4{
	line-height:4rem;
}
  #e img:hover{
   -webkit-animation:zuoyoubai 0.18s linear infinite alternate;
            -moz-animation:zuoyoubai 0.18s linear infinite alternate;
            -ms-animation:zuoyoubai 0.18s linear infinite alternate;
            -o-animation:zuoyoubai 0.18s linear infinite alternate;
            animation:zuoyoubai 0.18s linear infinite alternate;
  
   }
   @-webkit-keyframes zuoyoubai {
    from {
       -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
         -o-transform: rotate(-15deg);
            transform: rotate(-15deg);
            -webkit-transform: rotate(-15deg);  }
    to {-webkit-transform: rotate(15deg);
       -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
         -o-transform: rotate(15deg);
            transform: rotate(15deg);  }
}
@-moz-keyframes zuoyoubai {
    from {-webkit-transform: rotate(-15deg);
       -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
         -o-transform: rotate(-15deg);
            transform: rotate(-15deg);  }
    to {-webkit-transform: rotate(15deg);
       -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
         -o-transform: rotate(15deg);
            transform: rotate(15deg);  }
}
@-ms-keyframes zuoyoubai {
    from {
    -webkit-transform: rotate(-15deg);
       -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
         -o-transform: rotate(-15deg);
            transform: rotate(-15deg);  }
    to {-webkit-transform: rotate(15deg);
       -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
         -o-transform: rotate(15deg);
            transform: rotate(15deg);  }
}
@-o-keyframes zuoyoubai {
    from {-webkit-transform: rotate(-15deg);
       -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
         -o-transform: rotate(-15deg);
            transform: rotate(-15deg);  }
    to {-webkit-transform: rotate(15deg);
       -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
         -o-transform: rotate(15deg);
            transform: rotate(15deg);  }
}
@keyframes zuoyoubai {
    from {-webkit-transform: rotate(-15deg);
       -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
         -o-transform: rotate(-15deg);
            transform: rotate(-15deg);  }
    to {-webkit-transform: rotate(15deg);
       -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
         -o-transform: rotate(15deg);
            transform: rotate(15deg);  }
}
#f{
	background:black;
	margin-top:20px;
	padding-top:20px;
	color:white;
}
#f h3,#f img{
	padding:20px 0;
}
#f p{
	padding:0;
}
